
.Nombre {
    position: absolute;
    right: 35%;
    top: 130px;
    min-width: 340px;
  }
  
  .Nombre h1 {
    color: white; 
  }
  
  .Nombre h2 {
    color: rgb(102, 255, 228);
  }
  

  .Container1 {
    background-color: rgb(0, 0, 0);
    width: 900vw;
    height: 500px;
    padding-top: 10px;
    margin-top: 472.5px;
    animation-duration: 1.4s;
    animation-name: shadowOpacity;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  .Container1 h3 {
    margin-left: 5vw;
    max-width: 90vw;
  }
  