.projects-view {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .general-projects-info {
    width: 70%;
    height: 30%;
  }

  .general-projects-info h1 {
    margin-left: 22.5vw;
    text-align: start;
  }

  
  .button-container {
    margin-bottom: 10px;
  }
  
  .projectSlider {
    width: 60%;
    height: 70%;
    overflow: hidden;
    position: relative;
    margin: 0 auto; /* Centra horizontalmente */
}

  
  .slider-track {
    display: flex;
    gap:3vw;
  }
  
  .Project-Card {
    min-width: 18vw;
    max-width: 18vw;
    min-height: 60vh;
    margin-top: 5vh;
    background-color: black;
    transition: opacity 1s ease-out, transform 1s ease;
    animation-duration: 1.4s;
    animation-name: shadowOpacity;
    animation-delay: 0.2s;
    animation-fill-mode: forwards, forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  .project-card-image {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
  }
  
  .move-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .move-button:disabled {
    opacity: 0.5;
  }

  .svg-arrow {
    z-index: 2;
    position: absolute;
    top: 160%; /* Centrado vertical */
    transform: translateY(-50%); /* Ajusta para centrar perfectamente */
    cursor: pointer;
}

.svg-left {
    right: 18vw; /* Coloca la flecha a la izquierda */
}

.svg-right {
    left: 18vw; /* Coloca la flecha a la derecha */
}
  