:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2e2e2e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #66FFE4;
  text-decoration: none;
  cursor: url("assets/Images/cursor-2.png"), auto;
  font-weight: 400;
}

a:hover {
  color: #050511;
  cursor: url("assets/Images/cursor-2.png"), auto;
}

body {
  margin: 0;
  height: fit-content;
  background-size: cover;
  background-image: url("https://media.giphy.com/media/3o7TKSjZWTpaULQkP6/giphy.gif");
  cursor: url("assets/Images/cursor-1.png"), auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



